{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        body {
            background-color: #F2F2F2;
        }

        .h1 {
            font-size: 6.3vw;
            font-family: 'Black Han Sans', sans-serif;
        }

        @media (max-width: 991.9px) {
            .h1{
                font-size: 8vw;
            }
            .col-lg-5{
                padding-left: 2rem !important;
                padding-right: 3rem !important;
            }
        }

        .edit {
            font-size: 0.85rem;
        }

        .col-lg-5 {
            background-color: #E67C59;
        }

        .col-lg-7 {
            font-size: 1.2rem;
        }

        .mypage-box {
            padding: 0 5rem 5rem 5rem;
        }

        .deco-text {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: 0.75rem;
        }

        @media (max-width: 991.9px) {
            .deco-text {
                display: none;
            }

            .mypage-box {
                margin: 0;
            }
        }

        .end-0 {
            right: 1rem !important;
        }

        .bottom-0 {
            bottom: 0.5rem !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mt-5 mypage-box">
        <div class="row shadow">
            <div class="col-lg-5 pt-5 pb-4 px-4">
                <div class="d-flex justify-content-start mb-3">
                    <div style="width: 0.75vw; height: auto; background-color: rgba(38, 2, 2, 0.8);"></div>
                    <h1 class="h1 ml-2">My Page</h1>
                </div>
                <div class="deco-text mb-3">
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",<br>
                    "Roboto", "Oxygen", "Ubuntu", "Cantarell",<br>
                    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;<br>
                    -webkit-font-smoothing: antialiased;
                </div>
                <a href="{% url 'my_page_edit' %}"
                   class="btn-sm btn-light edit position-absolute bottom-0 end-0 mb-3">수정하기</a>
            </div>
            <div class="col-lg-7 row p-5">
                <div class="d-flex justify-content-between mb-3 px-4">
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>이름</div>
                    <div>{{ user.name }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>학과</div>
                    <div>{{ user.major }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>전화번호</div>
                    <div>{{ user.phone }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>이메일</div>
                    <div>{{ user.email }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>학번</div>
                    <div>{{ user.student_id }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>상태</div>
                    <div>{{ user.state }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>등급</div>
                    <div class="sc-dIUggk cBSNbt">{{ user.grade }}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 px-4">
                    <div>회비</div>
                    <div>{{ user.dues_payment }}</div>
                </div>
            </div>
        </div>

    </div>
    <!--
        This HTML file is a template.
        If you open it directly in the browser, you will see an empty page.
        You can add webfonts, meta tags, or analytics to this file.
        The build step will place the bundled scripts into the <body> tag.
        To begin the development, run `npm start` or `yarn start`.
        To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <script src="/static/js/bundle.js"></script>
    <script src="/static/js/vendors~main.chunk.js"></script>
    <script src="/static/js/main.chunk.js"></script>
{% endblock %}
{% block footer %}
    <footer class="footer small text-center text-black-50">
        <div class="container">© 2021 SGCC, Inc.</div>
    </footer>
{% endblock %}