{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>SGCC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container pt-5 text-center">
    <a href="{% url 'main' %}" class="text-dark" style="text-decoration: none;"><h1 class="mt-5 mb-3 h1">SGCC</h1></a>
    <div class="card px-5 pb-3 mx-4 mx-auto shadow-sm light login-box">
        <div class="card-body">
            <h5 class="card-title pb-4">Sign in to SGCC</h5>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 text-left">
                    <label for="formGroupExampleInput" class="form-label w-100" style="text-align: left;">이메일</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label w-100" style="text-align: left;">비밀번호</label>
                   {{ form.password }}
                </div>
                <input type="submit" name="Log in" value="Log in" class="w-100 btn btn-success mt-3"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>