{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        body {
            background-color: #F2F2F2;
        }

        table {
            font-size: 0.87rem !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="mx-4">
            <h4 class="h4 mb-4" style="text-align: left;">관리자페이지 > 회원 관리</h4>
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex justify-content-start">
                    <span class="mx-3">회비 납부: {{ pay }}/{{ total }}</span>
                    <span class="mx-3">신입 : {{ new }}  일반: {{ general }} 비활: {{ inactive }}</span>
                </div>
                <div id="input-form" class="d-flex flex-row-reverse">
                    <input type="text" id="name"/><span class="mx-3">이름 : </span>
                    <input type="text" id="student-id"/><span class="mx-3">학번 : </span>
                </div>
            </div>
            <table class="table table-hover" id="user-table">
                <thead>
                <tr>
                    <th colspan="2">#</th>
                    <th colspan="2">이름</th>
                    <th colspan="2">학번</th>
                    <th colspan="2">제 1전공</th>
                    <th colspan="2">전화번호</th>
                    <th colspan="2">이메일</th>
                    <th colspan="2">상태</th>
                    <th colspan="2">등급</th>
                    <th colspan="2">회비 납부 여부</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td colspan="2">{{ user.index }}</td>
                        <td colspan="2">{{ user.name }}</td>
                        <td colspan="2">{{ user.student_id }}</td>
                        <td colspan="2">{{ user.major }}</td>
                        <td colspan="2">{{ user.phone }}</td>
                        <td colspan="2">{{ user.email }}</td>
                        <td colspan="2">{{ user.state }}</td>
                        <td colspan="2">
                            <form method="post" action="{% url 'change_user_grade' %}" enctype="multipart/form-data"
                                  id="user-form{{ user.pk }}" onchange="SubmitForm('{{ user.pk }}')">
                                {% csrf_token %}
                                {{ user.form.username }}
                                {{ user.form.grade }}
                            </form>
                        </td>
                        <td colspan="2">
                            <form method="post" action="{% url 'change_dues_payment' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{ user.student_id }}">
                                <input type="submit" name="submit" value="{{ user.dues_payment }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            // table 검색
            $("#student-id").keyup(function () {
                var k = $(this).val();
                $("#user-table > tbody > tr").hide();
                var temp = $("#user-table > tbody > tr > td:nth-child(5n+3):contains('" + k + "')");

                $(temp).parent().show();
            })

            $("#name").keyup(function () {
                var k = $(this).val();
                $("#user-table > tbody > tr").hide();
                var temp = $("#user-table > tbody > tr > td:nth-child(5n+2):contains('" + k + "')");

                $(temp).parent().show();
            })

            function SubmitForm(pk) {
                console.log('되냐?');
                $('#user-form' + pk).submit();
            }
        </script>
    </div>
{% endblock %}
{% block footer %}
    <div class="d-flex flex-row-reverse mb-3 fixed-bottom">
        <a href="{% url 'delete_user' %}" class="btn-sm btn-danger me-5">탈퇴 회원 삭제</a>
    </div>
{% endblock %}