{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        html, body {
            height: 100% !important;
        }

        body {
            background-color: #F2F2F2;
        }

        #material-add {
            top: 16.5%;
            height: auto;
            left: 20%;
            width: 60%;
            max-height: 550px;
        }

        @media (max-width: 992px) {
            #material-add{
                left: 10%;
                width: 80%;
            }
            h4{
                font-size: 2rem;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5 pt-5 text-break">
        <h1 class="h1 mb-3">자료실</h1>
        <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item">
                <h4 class="pt-3">파이썬</h4>
                <ul>
                    <li><a href="https://wikidocs.net/book/1">[점프 투 파이썬] https://wikidocs.net/book/1</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <h4 class="pt-3">C/C++</h4>
                <ul>
                    <li><a href="https://modoocode.com/135">[씹어먹는 C++] https://modoocode.com/135</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <h4 class="pt-3">WEB</h4>
                <ul>
                    <li><a href="https://developer.mozilla.org/ko/">[MDN 웹문서] https://developer.mozilla.org/ko/</a></li>
                    <li><a href="https://getbootstrap.com/">[bootstrap4] https://getbootstrap.com/</a></li>
                    <li><a href="https://tutorial.djangogirls.org/ko/">[장고걸스]
                        https://tutorial.djangogirls.org/ko/</a></li>
                    <li><a href="https://docs.djangoproject.com/ko/3.1/intro/tutorial01/">[장고 공식
                        튜토리얼]https://docs.djangoproject.com/ko/3.1/intro/tutorial01/</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <h4 class="pt-3">ML</h4>
                <ul>
                    <li><a href="https://developers.google.com/machine-learning/crash-course/ml-intro?hl=ko">[Google
                        Developer 머신러닝 단기집중과정]</a></li>
                    <li><a href="https://hunkim.github.io/ml/">[모두를 위한 머신러닝/딥러닝 강의] https://hunkim.github.io/ml/</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <h4 class="pt-3">세미나</h4>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-start py-4 px-5">
    <span style="font-size: 2.6em; color: #260202; cursor: pointer;" onclick="ShowAddMaterialBox()">
        <i class="fas fa-plus-circle"></i>
    </span>
    </div>
    <div class="position-fixed card p-3" id="material-add" style="display: none;">
        <div class="d-flex justify-content-between">
            <h3 class="card-title h3">자료 추가하기</h3>
            <span style="font-size: 1.6em; color: #260202; cursor: pointer;" onclick="HideAddMaterialBox()">
            <i class="far fa-window-close"></i>
        </span>
        </div>
        <form method="post" action="{% url 'add_material' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-select mb-2" name="main_category" id="main-category" aria-label="main_category">
                    <option selected class="font-weight-bold">----- 대분류 -----</option>
                    <option value="1">python</option>
                    <option value="2">c/c++</option>
                    <option value="3">web</option>
                    <option value="4">machine learning</option>
                    <option value="-1">추가하기</option>
                </select>
                <input type="text" name="add_main_category" class="form-control" id="add-main-category"
                       style="display: none;" placeholder="추가하고 싶은 대분류를 입력해주세요">
            </div>
            <div class="form-group">
                <label for="contents">내용</label>
                <textarea class="form-control" type="text" name="contents" id="contents" rows="6"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="file" name="file">
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="추가하기" class="btn-sm">
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $('#main-category').change(function () {
            var selectValue = $(this).val();
            console.log($('select[name=main_category]').val());
            if (selectValue === "-1") {
                $('#add-main-category').css("display", "block");
            } else {
                $('#add-main-category').css("display", "none");
            }
        });

        function ShowAddMaterialBox() {
            $('#material-add').css('display', 'block');
        }

        function HideAddMaterialBox() {
            $('#material-add').css('display', 'none');
        }
    </script>
{% endblock %}