.join-box{
    width: 70vw;
}

.container{
    background-color: #F2F2F2;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

@media (min-width: 992px) {
    .join-box{
        width: 60vw;
    }
}

.h2{
    font-weight: 400;
}

@media (min-width: 576px) {
    .h2 {
        font-size: 3.75rem;
        margin-bottom: 6rem !important;
    }

    .h3 {
        font-size: 2.75rem;
    }

    .form-label, .form-control, textarea, .form-check-label, input.btn{
        font-size: 1.75rem;
    }

    .form-check-input{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 0.4rem;
    }
}

.help-block{
    text-align: left !important;
    color: #4e555b !important;
    font-size: 0.8rem;
}

@media (min-width: 576px){
    .help-block{
        font-size: 1.5rem;
    }
}