{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        body {
            background-color: #F2F2F2;
        }

        table {
            font-size: 0.87rem !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container text-center table-responsive w-100">
        <div class="mx-4 table-responsive w-100">
            <h4 class="h4 my-4" style="text-align: left;">관리자페이지 > 회원 관리 > 가입 신청 회원 관리</h4>
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex justify-content-start">
                    <span class="mx-3">신청 인원: {{ total }}</span>
                </div>
                <div id="input-form" class="d-flex flex-row-reverse">
                    <input type="text" id="name"/><span class="mx-3">이름 : </span>
                    <input type="text" id="student-id"/><span class="mx-3">학번 : </span>
                </div>
            </div>
            <table class="table table-hover" id="user-table">
                <thead>
                <tr>
                    <th class="text-nowrap">#</th>
                    <th class="text-nowrap">이름</th>
                    <th class="text-nowrap">학번</th>
                    <th class="text-nowrap">제 1전공</th>
                    <th class="text-nowrap">제 2전공</th>
                    <th class="text-nowrap">제 3전공</th>
                    <th class="text-nowrap">전화번호</th>
                    <th class="text-nowrap">이메일</th>
                    <th colspan="20" class="text-nowrap">가입사유</th>
                    <th class="text-nowrap">가수요조사</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td colspan="1"> 
                            <input name="{{ user.pk }}" value="{{ user.pk }}" type="checkbox" />
                        </td>
                        <td class="text-nowrap">{{ user.name }}</td>
                        <td class="text-nowrap">{{ user.username }}</td>
                        <td class="text-nowrap">{{ user.major }}</td>
                        <td class="text-nowrap">{{ user.second_major }}</td>
                        <td class="text-nowrap">{{ user.third_major }}</td>
                        <td class="text-nowrap">{{ user.phone }}</td>
                        <td class="text-nowrap">{{ user.email }}</td>
                        <td colspan="20">{{ user.reason }}</td>
                        <td class="text-nowrap">{{ user.temp_demand }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            // table 검색
            $("#student-id").keyup(function () {
                var k = $(this).val();
                $("#user-table > tbody > tr").hide();
                var temp = $("#user-table > tbody > tr > td:nth-child(5n+3):contains('" + k + "')");

                $(temp).parent().show();
            })

            $("#name").keyup(function () {
                var k = $(this).val();
                $("#user-table > tbody > tr").hide();
                var temp = $("#user-table > tbody > tr > td:nth-child(5n+2):contains('" + k + "')");

                $(temp).parent().show();
            })

            function SubmitForm(pk) {
                console.log('되냐?');
                $('#user-form' + pk).submit();
            }
        </script>
    </div>
{% endblock %}
{% block footer %}
    <div class="d-flex flex-row-reverse mb-3 fixed-bottom">
        <a href="{% url 'delete_user' %}" class="btn-sm btn-danger me-5">가입승인</a>
    </div>
{% endblock %}