body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424242;
    background-color: #40a6c3;
}

a {
    /*color: #113b8e;*/
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    /*color: #467370;*/
    text-decoration: underline;
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #F2F2F2;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #F2F2F2;
    text-decoration: none;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #F2F2F2;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #F2F2F2;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #F2F2F2;
    border: 3px solid #F2F2F2;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.footer {
    padding: 5rem .5rem 1rem .5rem;
    background-color: #F2F2F2 !important;
    color: #828282;
}

.footer .text-left{
    padding-right: 45%;
}

h1, h2, h3 {
    font-family: 'Do Hyeon', sans-serif;
}

.h1, h1 {
    font-size: calc(2.5rem + 2.5vw);
}

@media (max-width: 992px) {
    .h1, h1{
        font-size: calc(3rem + 2.5vw);
    }
}

.h3, h3 {
    font-size: calc(1.8rem + .6vw);
}

.navbar-brand{
    color: #F2F2F2 !important;
    font-weight: bolder;
    font-size: 1.75rem;
}

#button-box>a{
    color: #F2F2F2 !important;
    font-size: 1.2rem;
    padding: 0 0.3rem;
}

@media (min-width: 992px){
    #button-box>a{
        border: 1px solid #F2F2F2;
    }
}


.navbar-brand{
    font-weight: bolder;
}

@media (max-width: 992px) {
    .navbar-brand, #button-box>a{
        font-size: 2.5rem;
    }
    #button-box>a {
        font-size: 2.25rem;
        padding: 0 0.5rem;
    }
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}