{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript">
        {% if mss == 'welcome' %}
            createAlert(0);
        {% endif %}
    </script>
{% endblock %}
{% block content %}
    {% include 'nav/nav.html' %}
    <div class="row">
        <div class="col-lg-6 p-3">
            <img class="img-fluid" src="{% static 'image/sgcc_poster.png' %}" />
        </div>
        <div class="col-lg-6 p-5">
            <div class="text-center py-5 title-box">
                <div class="title">
                    <h1>서강대학교 컴퓨터 중앙 동아리</h1>
                    <h1>SGCC</h1>
                </div>
                <a href="{% url 'register' %}" class="h1 btn btn-primary mt-5">가입 신청하기</a>
            </div>
            <div class="mt-auto text-right help-box">
                <h3 class="mt-auto"><a class="js-scroll-trigger" href="http://pf.kakao.com/_xdHUxjK">플러스 친구 문의하기</a></h3>
                <h3><a class="js-scroll-trigger" href="https://www.facebook.com/theSogangComputerClub/">페이스북 바로가기</a></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{#    <script type="text/javascript">#}
{#        var isShow = false;#}
{##}
{#        console.log($(document).width());#}
{##}
{#        if ($(document).width() < 992) {#}
{#            $('.introduction').removeClass('hide');#}
{#            console.log($(document).width());#}
{#            isShow = true;#}
{#        } else {#}
{#            console.log('hide');#}
{#            $(document).on('scroll', function () {#}
{#                checkVisible($('.contact-section'));#}
{#            });#}
{#        }#}
{##}
{#        function checkVisible(elm, eval) {#}
{#            var scrolltop = $(window).scrollTop(), // Scroll Top#}
{#                y = $(elm).offset().top,#}
{#                navbarHeight = $('.navbar').height();#}
{#            if (navbarHeight + scrolltop + 350 > y && !isShow) {#}
{#                $('.introduction').removeClass('hide');#}
{#                $('.introduction').addClass('slide');#}
{#                console.log('show');#}
{#                isShow = true;#}
{#            }#}
{#        }#}
    </script>
{% endblock %}